<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
    <div class="card mb-4 mx-auto" style="width: 15em; height: 25em;">
        <img src='{{imagePath}}' class="card-img-top" alt="...">
        <div class="card-body mx-auto d-flex flex-column" style="width: 100%">
            <h5 class="card-title mx-auto"> {{title}} </h5>
            <p class="card-text mx-auto"> {{descr}}  </p>
            <p class="card-subtitle mx-auto text-muted">${{price}}</p>
            <button type="submit" class="btn btn-primary mt-auto " name="listing" value="{{id}}">View</button>
        </div>
    </div>
</div>